body {
  margin: 0;
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center;    /* Vertical center */
  height: 100vh; 
  background-color:#18acb4; 
  color: white;  
  font-family: Arial, Helvetica, sans-serif;
  font-weight:lighter;
}


#signupbtn{
margin-top: 10px;
border-radius:12% ;
background-color:honeydew;;
color:black;
font-weight: 700;
width: 100px;
height: 25px;
color: #18acb4;

}
#loginbtn{
margin-top: 10px;
border-radius:12%;
font-weight: 700;
width: 100px;
height: 25px;
background-color: honeydew;
color: #18acb4;

}
#loginbtn:hover{ 
 transform:Scale(1.10);
 background-color: #18acb4;
 color: white;
}
#signupbtn:hover{ 
 transform:Scale(1.10);
 background-color:#18acb4;
 color: white;
}
a{
    text-decoration: none;
    color: white;
}
label{
    line-height: 28px;
}
a:hover{
    color:rgb(238, 47, 47)
}
#login_page{
   color:wheat; 
   font-weight:bolder;
}
#signup_page{
    color:wheat; 
    font-weight:bolder;
}
